<header data-fls-header class="header">
	<div class="header__container">
		
		<if condition="'[[active]]' === 'home'">
			<div class="header__logo"><img src="@img/logo.svg" alt="Logo"></div>
			<include src="@components/layout/menu/menu.html" locals='{"active":"home"}'></include>
		</if>
		<else>
			<a href="index.html" class="header__logo header__link-logo"><img src="@img/logo.svg" alt="Logo"></a>
			<include src="@components/layout/menu/menu.html" locals='{"active":""}'></include>
		</else>

	</div>
</header>