.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
	@include adaptiveValue("padding-block", 24, 16);
	transition: all .4s;
	&--active {
		background: $bgMain;
	}
	// .header__container
	&__container {
		max-width: 1038px;
		display: flex;
		align-items: center;
		gap: 20px;
		@media (max-width:toEm($mobile)) {
			justify-content: space-between;
		}
	}
	// .header__logo
	&__logo {
		z-index: 3;
		position: relative;
		@media (min-width:toEm(1280)) {
			margin-left: -120px;
		}
		img {
			width: 105px;
			aspect-ratio: 105 / 24;
			object-fit: contain;
		}
	}
	// .header__link-logo
	&__link-logo {
		transition: opacity .4s;
		@media (any-hover: hover){
			&:hover{
				opacity: .6;
			}
		}
	}
}