.page {
	// .page__hero
	&__hero {}
}
// -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
.hero {
	position: relative;
	overflow: hidden;
	background-color: $bgDarkColor;
	// .hero__container
	&__container {
		z-index: 1;
		position: relative;
		display: flex;
		flex-direction: column;
		min-height: 100svh;
		@include adaptiveValue("padding-top", 144, 100);
		@include adaptiveValue("padding-bottom", 112, 60);
		@include adaptiveValue("gap", 50, 32);
	}
	// .hero__title
	&__title {
		font-family: $fontDelaGothicOne;
		line-height: math.div(37, 30);
		letter-spacing: 0.02em;
		text-align: center;
		color: $lightYellowColor;
		text-shadow: 0 4px 57.5px rgba(255, 243, 133, 0.6);
		@include adaptiveValue("font-size", 30, 24);
		@media (max-width:toEm($tablet)) {
			line-height: 1.4;
		}
	}
	// .hero__text
	&__text {
		flex: 1 1 auto;
		align-self: center;
		display: flex;
		flex-direction: column;
		justify-content: start;
		max-width: 636px;
		letter-spacing: 0.02em;
		text-align: center;
		color: $lightColor;
		line-height: math.div(30, 20);
		@include adaptiveValue("font-size", 20, 18);
		p {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
	// .hero__actions
	&__actions {
		display: flex;
		justify-content: center;
		gap: 23px;
		flex-wrap: wrap;
	}
	// .hero__button
	&__button {
		@media (max-width:toEm($mobileSmall)) {
			max-width: none;
		}
	}
	// .hero__background
	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	// .hero__circle
	&__circle {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		&::before {
			content: '';
			position: absolute;
			width: 107.19%;
			height: 155.07%;
			top: 44.6%;
			left: 50%;
			translate: -50% 0;
			border-radius: 50%;
			border: 140px solid rgba(255, 243, 133, .47);
			filter: blur(148px);
			-ms-filter: blur(148px);
			-webkit-filter: blur(148px);
			@media (max-width:toEm($tablet)) {
				aspect-ratio: 1;
				width: auto;
				top: 50%;
			}
			@media (max-width:toEm($mobileSmall)) {}
		}
		&::after {
			content: '';
			position: absolute;
			width: 116.33%;
			height: 155.07%;
			top: 44.6%;
			left: 50%;
			translate: -50% 0;
			border-radius: 50%;
			border: 1px solid rgba(255, 243, 133, 0.40);
			background: radial-gradient(64.21% 64.21% at 50% 35.79%, rgba(0, 0, 0, 0.20) 38.46%, rgba(255, 249, 196, 0.20) 100%);
			@media (max-width:toEm($tablet)) {
				aspect-ratio: 1;
				width: auto;
				top: 50%;
			}
			@media (max-width:toEm($mobileSmall)) {}
		}
	}
}