<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<main class="page page--home">
	<section class="page__hero hero">
		<div class="hero__container">
			<h1 class="hero__title">
				Мы объединяем предпринимателей в Германии — здесь ваши идеи превращаются в рост и сильные партнёрства
			</h1>
			<div class="hero__text">
				<p>
					Сообщество успешных предпринимателей и экспертов в Германии: пространство для роста, обучения и живого нетворкинга.
				</p>
			</div>
			<div class="hero__actions">
				<button data-fls-button type="button" class="hero__button button button--max-326">Присоединиться</button>
				<button data-fls-button type="button" class="hero__button button button--max-326 button--border">Ближайшие события</button>
			</div>
		</div>
		<div class="hero__background">
			<div class="hero__circle"></div>
		</div>
	</section>
</main>