.page {
	// .page__hero
	&__hero {}
	// .page__about
	&__about {}
	// .page__gallery
	&__gallery {}
	// .page__events
	&__events {}
	// .page__steps
	&__steps {}
	// .page__experts
	&__experts {}
	// .page__reviews
	&__reviews {}
	// .page__contact
	&__contact {}
	// .page__faq
	&__faq {}
}
// -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
.hero {
	position: relative;
	overflow: hidden;
	background-color: $bgDarkColor;
	// .hero__container
	&__container {
		z-index: 1;
		position: relative;
		display: flex;
		flex-direction: column;
		min-height: 100svh;
		@include adaptiveValue("padding-top", 144, 100);
		@include adaptiveValue("padding-bottom", 112, 60);
		@include adaptiveValue("gap", 50, 32);
	}
	// .hero__title
	&__title {
		font-family: $fontDelaGothicOne;
		line-height: math.div(37, 30);
		letter-spacing: 0.02em;
		text-align: center;
		color: $lightYellowColor;
		text-shadow: 0 4px 57.5px rgba(255, 243, 133, 0.6);
		opacity: 0;
		transition: opacity .6s, translate .6s;
		translate: 0 40px;
		@include adaptiveValue("font-size", 30, 24);
		@media (max-width:toEm($tablet)) {
			line-height: 1.4;
		}
		[data-fls-loaded] &.--watcher-view {
			opacity: 1;
			translate: 0 0;
		}
	}
	// .hero__text
	&__text {
		flex: 1 1 auto;
		align-self: center;
		display: flex;
		flex-direction: column;
		justify-content: end;
		max-width: 636px;
		letter-spacing: 0.02em;
		text-align: center;
		color: $lightColor;
		line-height: math.div(30, 20);
		@include adaptiveValue("font-size", 20, 18);
		p {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
	// .hero__actions
	&__actions {
		display: flex;
		justify-content: center;
		gap: 23px;
		flex-wrap: wrap;
	}
	// .hero__button
	&__button {
		@media (max-width:toEm($mobileSmall)) {
			max-width: none;
		}
	}
	// .hero__background
	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	// .hero__circle
	&__circle {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		&::before {
			content: '';
			position: absolute;
			width: 107.19%;
			height: 155.07%;
			top: 44.6%;
			left: 50%;
			translate: -50% 0;
			border-radius: 50%;
			border: 140px solid rgba(255, 233, 34, 0.9);
			filter: blur(148px);
			-ms-filter: blur(148px);
			-webkit-filter: blur(148px);
			-webkit-backface-visibility: hidden;
			-moz-filter: blur(148px);
			-o-filter: blur(148px);
			@media (max-width:toEm($tablet)) {
				aspect-ratio: 1;
				width: auto;
				top: 50%;
			}
			@media (max-width:toEm($mobileSmall)) {}
		}
		&::after {
			content: '';
			position: absolute;
			width: 116.33%;
			height: 155.07%;
			top: 44.6%;
			left: 50%;
			translate: -50% 0;
			border-radius: 50%;
			border: 1px solid rgba(255, 243, 133, 0.40);
			background: radial-gradient(64.21% 64.21% at 50% 35.79%, rgba(0, 0, 0, 0.20) 38.46%, rgba(255, 249, 196, 0.20) 100%);
			@media (max-width:toEm($tablet)) {
				aspect-ratio: 1;
				width: auto;
				top: 50%;
			}
			@media (max-width:toEm($mobileSmall)) {}
		}
	}
}
// -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
.about {
	position: relative;
	@include adaptiveValue("padding-top", 130, 60);
	@include adaptiveValue("padding-bottom", 95, 40);
	// .about__container
	&__container {
		z-index: 1;
		position: relative;
		>* {
			@include adaptiveValue("margin-bottom", 65, 30);
		}
		>*:last-child {
			margin-bottom: 0px;
		}
		@media (max-width:toEm($tablet)) {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}
	// .about__title
	&__title {
		max-width: 575px;
	}
	// .about__text
	&__text {
		max-width: 530px;
		@include adaptiveValue("min-height", 172, 100, 2, $containerWidth, 768);
		p {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
	// .about__body
	&__body {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
		@include adaptiveValue("gap", 35, 16);
	}
	// .about__item
	&__item {
		border: 1px solid $lightYellowColor;
		border-radius: 32px;
		background: #101010;
		padding: 16px;
		display: flex;
		flex-direction: column;
		@include adaptiveValue("gap", 10, 4);
		@include adaptiveValue("min-height", 170, 140);
	}
	// .about__value
	&__value {
		flex: 1 1 auto;
		font-family: $fontChonburi;
		text-align: center;
		color: $lightYellowColor;
		align-content: center;
		@include adaptiveValue("font-size", 45, 38);
		&--fs-38 {
			@include adaptiveValue("font-size", 38, 30);
		}
		&--fs-55 {
			@include adaptiveValue("font-size", 55, 45);
		}
	}
	// .about__label
	&__label {
		flex: 0 0 auto;
		text-align: center;
		font-family: $fontDelaGothicOne;
		color: $lightYellowColor;
		line-height: math.div(23, 16);
		@include adaptiveValue("font-size", 16, 14);
	}
	// .about__image
	&__image {
		@media (min-width:toEm($mobile)) {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			right: 0;
		}
		@media (max-width:toEm($mobile)) {
			display: grid;
			justify-content: end;
		}
	}
	// .about__picture
	&__picture {
		object-fit: contain;
		@media (min-width:toEm($mobile)) {
			position: absolute;
			width: 59.5%;
			height: auto;
			right: -10%;
			top: 10px;
		}
		@media (min-width:toEm($tablet)) {
			height: 96.2%;
			right: 0;
			top: 30px;
		}
		@media (max-width:toEm($mobile)) {
			aspect-ratio: 1;
		}
	}
}
// -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
.gallery {
	@include adaptiveValue("padding-top", 95, 60);
	// .gallery__container
	&__container {
		>* {
			@media (min-width:toEm($mobile)) {
				&:not(:last-child) {
					@include adaptiveValue("margin-bottom", 48, 20);
				}
			}
		}
	}
	// .gallery__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 65, 32);
		}
	}
	// .gallery__content
	&__content {
		z-index: 1;
		position: relative;
		display: grid;
		justify-content: end;
		@media (max-width:toEm($mobile)) {
			&:not(:last-child) {
				margin-bottom: 130px;
			}
		}
	}
	// .gallery__body
	&__body {
		max-width: 500px;
		display: grid;
		justify-items: center;
	}
	// .gallery__text
	&__text {
		&:not(:last-child) {
			margin-bottom: 32px;
		}
		p {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 32, 20);
			}
		}
	}
	// .gallery__slider
	&__slider {}
}
.slider-gallery {
	position: relative;
	overflow: visible;
	// .slider-gallery__wrapper
	&__wrapper {}
	// .slider-gallery__slide
	&__slide {
		cursor: grab;
		transition: margin-top .8s;
		&.swiper-slide-active {
			margin-top: -90px;
			@media (min-width:toEm($tablet)) {
				margin-top: -331px;
				width: 44.1% !important;
			}
		}
	}
	// .slider-gallery__body
	&__body {
		position: relative;
	}
	// .slider-gallery__image
	&__image {
		position: relative;
		aspect-ratio: 343/400;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
		.swiper-slide-active & {
			aspect-ratio: 449/538;
		}
	}
	// .slider-gallery__location
	&__location {
		position: absolute;
		bottom: -60px;
		left: 0;
		right: 0;
		pointer-events: none;
		opacity: 0;
		line-height: math.div(19, 14);
		margin-inline: 12px;
		margin-top: 27px;
		padding-top: 14px;
		padding-left: 20px;
		transition: opacity .8s;
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			top: 0;
			left: 0;
			background: $lightYellowColor;
		}
		&::after {
			content: '';
			position: absolute;
			width: 5px;
			height: 5px;
			bottom: 7px;
			left: 8px;
			background: $mainColor;
			border-radius: 100%;
		}
		.swiper-slide-active & {
			opacity: 1;
			pointer-events: all;
		}
	}
	// .slider-gallery__actions
	&__actions {
		display: flex;
		justify-content: center;
		gap: 16px;
		@media (max-width:toEm($tablet)) {
			margin-top: 30px;
		}
		@media (min-width:toEm($tablet)) {
			z-index: 1;
			position: absolute;
			top: 300px;
			width: 44.1%;
		}
	}
}
// -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
.events {
	position: relative;
	@include adaptiveValue("padding-top", 100, 60);
	// .events__container
	&__container {
		z-index: 1;
		position: relative;
		max-width: 1020px;
	}
	// .events__title
	&__title {
		&:not(:last-child) {
			margin-bottom: 45px;
		}
	}
	// .events__body
	&__body {
		display: grid;
		gap: 30px;
	}
	// .events__item
	&__item {}
	// .events__images
	&__images {}
	// .events__image
	&__image {}
	// .events__picture
	&__picture {
		position: absolute;
		object-fit: contain;
	}
	// .events__picture-01
	&__picture-01 {
		width: 575px;
		height: 561px;
		top: 316px;
		left: -338px;
		animation: pulse 4s infinite linear;
		@media (max-width:toEm($mobile)) {
			left: -100px;
		}
	}
	// .events__picture-02
	&__picture-02 {
		width: 624px;
		height: 644px;
		top: 262px;
		right: -337px;
		animation: pulse 4s infinite 2s linear;
		@media (max-width:toEm($mobile)) {
			right: -100px;
			top: auto;
			bottom: 262px;
		}
	}
}
.item-events {
	display: flex;
	border: 1px solid $lightYellowColor;
	border-radius: 46px;
	background: $darkColor;
	@include adaptiveValue("gap", 35, 16);
	@include adaptiveValue("padding-inline", 32, 16);
	@include adaptiveValue("padding-block", 32, 24);
	@media (max-width:toEm($mobile)) {
		display: grid;
	}
	&--reverse {
		flex-direction: row-reverse;
	}
	// .item-events__image
	&__image {
		position: relative;
		aspect-ratio: 320/188;
		@media (min-width:toEm($mobile)) {
			align-self: flex-start;
			flex: 0 0 320px;
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
	// .item-events__body
	&__body {
		&--df {
			display: flex;
			flex-direction: column;
		}
		&--center {
			display: grid;
			justify-items: center;
		}
		@media (min-width:toEm($mobile)) {
			flex: 1 1 auto;
		}
		>* {
			margin-bottom: 11px;
			@media (max-width:toEm($mobileSmall)) {
				margin-bottom: 16px;
			}
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
	// .item-events__title
	&__title {
		font-family: $fontDelaGothicOne;
		color: $lightYellowColor;
		line-height: math.div(43, 30);
		@include adaptiveValue("font-size", 30, 20);
		&:not(:last-child) {
			margin-bottom: 11px;
		}
		&--mb {
			flex: 1 1 auto;
			&:not(:last-child) {
				margin-bottom: 32px;
			}
		}
		&--white {
			max-width: 722px;
			color: $mainColor;
		}
		.item-events--reverse & {
			text-align: right;
		}
	}
	// .item-events__text
	&__text {
		line-height: math.div(25, 18);
		@include adaptiveValue("font-size", 18, 16);
		.item-events--reverse & {
			text-align: right;
		}
		@media (min-width:toEm($mobileSmall)) {
			min-height: 78px;
		}
	}
	// .item-events__info
	&__info {
		display: flex;
		align-items: center;
		justify-content: end;
		flex-wrap: wrap;
		gap: 12px 28px;
		&--sb {
			@media (min-width:toEm($mobileSmall)) {
				justify-content: space-between;
			}
		}
		.item-events--reverse & {
			flex-direction: row-reverse;
		}
	}
	// .item-events__reverse
	&__reverse {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		justify-content: end;
		flex-wrap: wrap;
		gap: 12px 28px;
	}
	// .item-events__location
	&__location {
		display: flex;
		align-items: center;
		gap: 20px;
	}
	// .item-events__icon
	&__icon {
		width: 13px;
		height: 21px;
		fill: $lightYellowColor;
	}
	// .item-events__city
	&__city {
		color: $lightYellowColor;
		line-height: math.div(27, 20);
		@include adaptiveValue("font-size", 20, 18);
	}
	// .item-events__date
	&__date {
		flex: 1 1 auto;
		text-align: right;
		color: $lightYellowColor;
		line-height: math.div(25, 18);
		@include adaptiveValue("font-size", 18, 16);
	}
	// .item-events__button
	&__button {
		@media (max-width:toEm($mobileSmall)) {
			max-width: none;
		}
	}
}
// -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
.steps {
	counter-reset: item;
	@include adaptiveValue("padding-top", 100, 60);
	// .steps__container
	&__container {
		display: grid;
		>* {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 42, 30);
			}
		}
	}
	// .steps__title
	&__title {
		@include adaptiveValue("font-size", 40, 20);
		max-width: 735px;
		justify-self: center;
		p {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
	// .steps__text
	&__text {
		justify-self: center;
		max-width: 520px;
		text-align: justify;
		line-height: math.div(19, 14);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 40);
		}
	}
	// .steps__body
	&__body {
		display: flex;
		flex-direction: column;
	}
	// .steps__item
	&__item {}
	// .steps__line
	&__line {
		align-self: center;
		width: 1px;
		background: $lightYellowColor;
		@include adaptiveValue("height", 50, 30);
	}
}
.item-steps {
	position: relative;
	align-self: flex-end;
	flex: 1 1 auto;
	max-width: 590px;
	width: 100%;
	border: 1px solid $lightYellowColor;
	border-radius: 45px;
	display: flex;
	gap: 80px;
	padding: 16px 24px 24px 52px;
	@include adaptiveValue("gap", 80, 20);
	@media (min-width:toEm($mobileSmall)) {
		align-items: center;
	}
	@media (max-width:toEm($mobile)) {
		padding: 24px 16px;
	}
	@media (max-width:toEm($mobileSmall)) {
		gap: 10px;
		flex-direction: column;
	}
	&--reverse {
		align-self: flex-start;
		flex-direction: row-reverse;
		text-align: right;
		padding: 16px 52px 24px 24px;
		@media (max-width:toEm($mobile)) {
			padding: 24px 16px;
		}
		@media (max-width:toEm($mobileSmall)) {
			flex-direction: column;
			& .item-steps__value {
				padding-left: 0px;
				padding-right: 40px;
				@media (max-width:toEm($mobileSmall)) {
					align-self: flex-end;
				}
			}
		}
	}
	// .item-steps__value
	&__value {
		position: relative;
		font-family: $fontChonburi;
		font-size: 50px;
		line-height: math.div(60, 50);
		text-align: start;
		color: $lightYellowColor;
		&::after {
			content: counter(item);
			counter-increment: item;
		}
		@media (max-width:toEm($mobileSmall)) {
			padding-left: 40px;
		}
	}
	// .item-steps__content
	&__content {
		>* {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
	// .item-steps__title
	&__title {
		font-family: $fontDelaGothicOne;
		line-height: math.div(43, 30);
		color: $lightYellowColor;
		@include adaptiveValue("font-size", 30, 20);
		&--28 {
			@include adaptiveValue("font-size", 28, 18);
		}
	}
	// .item-steps__text
	&__text {
		min-height: 38px;
		line-height: math.div(19, 14);
		p {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
}
//========================================================================================================================================================
.experts {
	position: relative;
	@include adaptiveValue("padding-top", 100, 60);
	@media (min-width:toEm($tablet)) {
		padding-bottom: 123px;
	}
	// .experts__container
	&__container {
		z-index: 1;
		position: relative;
		max-width: 960px;
	}
	// .experts__title
	&__title {
		justify-self: center;
		max-width: 550px;
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}
	// .experts__body
	&__body {
		display: flex;
		justify-content: center;
		align-items: stretch;
		@include adaptiveValue("gap", 36, 16);
		@media (max-width:toEm($tablet)) {
			flex-wrap: wrap;
		}
	}
	// .experts__item
	&__item {}
	// .experts__image
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		img {
			position: absolute;
			width: 915px;
			height: 770px;
			left: 50%;
			translate: -50% 0;
			object-fit: contain;
			animation: pulse 4s infinite linear;
			@include adaptiveValue("top", 190, -200);
		}
	}
}
.expert {
	flex: 0 1 286px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid $lightYellowColor;
	border-radius: 46px;
	background: $darkColor;
	padding: 18px;
	>* {
		&:not(:last-child) {
			margin-bottom: 18px;
		}
	}
	@media (min-width:toEm($tablet)) {
		&:nth-child(even) {
			translate: 0 123px;
		}
	}
	// .expert__image
	&__image {
		align-self: flex-start;
		position: relative;
		aspect-ratio: 250 / 300;
		padding-bottom: percent(300, 250);
		&:not(:last-child) {
			margin-bottom: 9px;
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			border-radius: 48px;
		}
	}
	// .expert__name
	&__name {
		font-family: $fontDelaGothicOne;
		line-height: math.div(43, 30);
		text-align: center;
		color: $lightYellowColor;
		@include adaptiveValue("font-size", 30, 20);
		&--fz-28 {
			@include adaptiveValue("font-size", 28, 20);
		}
	}
	// .expert__list
	&__list {
		flex: 1 1 auto;
		max-width: 185px;
		line-height: math.div(19, 14);
		>* {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
		li {
			position: relative;
			padding-left: 12px;
			&::before {
				content: '';
				position: absolute;
				width: 4px;
				height: 4px;
				top: 8px;
				left: 0;
				border-radius: 50%;
				background: $mainColor;
			}
		}
	}
	// .expert__button
	&__button {}
}
// -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
.reviews {
	@include adaptiveValue("padding-top", 100, 60);
	// .reviews__container
	&__container {}
	// .reviews__title
	&__title {
		justify-self: center;
		max-width: 550px;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 80, 30);
		}
	}
	// .reviews__slider
	&__slider {}
}
.slider-reviews {
	@media (max-width:toEm($tablet)) {
		margin: 0 -15px;
		padding: 0 15px;
	}
	// .slider-reviews__wrapper
	&__wrapper {
		align-items: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 80, 30);
		}
	}
	// .slider-reviews__slide
	&__slide {}
	// .slider-reviews__prev
	&__prev {}
	// .slider-reviews__next
	&__next {}
	// .slider-reviews__actions
	&__actions {
		display: flex;
		justify-content: center;
		gap: 16px;
	}
}
.slide-reviews {
	display: grid;
	justify-items: center;
	pointer-events: none;
	// .slide-reviews__content
	&__content {
		cursor: grab;
		pointer-events: all;
		width: 100%;
		max-width: 758px;
		position: relative;
		display: grid;
		align-items: center;
		grid-template-columns: 150px 1fr;
		gap: 30px 75px;
		padding: 15px 52px 32px 28px;
		border-radius: 45px;
		background: radial-gradient(98.33% 62.88% at 54.98% 52.66%, rgba(0, 0, 0, 0.00) 0%, #292929 100%), #000;
		@media (max-width: toEm(639.98)) {
			grid-template-columns: auto;
			justify-items: center;
			padding: 24px 16px;
		}
	}
	// .slide-reviews__image
	&__image {
		z-index: 1;
		position: relative;
		img {
			width: 150px;
			aspect-ratio: 1;
			object-fit: cover;
			border-radius: 50%;
			@media (max-width: toEm(639.98)) {
				width: 100px;
			}
		}
	}
	// .slide-reviews__body
	&__body {
		z-index: 1;
		position: relative;
		@media (min-width:toEm(640)) {
			min-height: 194px;
		}
	}
	// .slide-reviews__name
	&__name {
		font-family: $fontDelaGothicOne;
		color: $lightYellowColor;
		line-height: math.div(43, 30);
		@include adaptiveValue("font-size", 30, 20);
		&:not(:last-child) {
			margin-bottom: 4px;
		}
		@media (min-width:toEm(640)) {
			padding-left: 40px;
		}
		@media (max-width: toEm(639.98)) {
			text-align: center;
		}
	}
	// .slide-reviews__specialization
	&__specialization {
		line-height: math.div(19, 14);
		&:not(:last-child) {
			margin-bottom: 35px;
			@media (max-width: toEm(639.98)) {
				margin-bottom: 20px;
			}
		}
		@media (min-width:toEm(640)) {
			padding-left: 70px;
		}
		@media (max-width: toEm(639.98)) {
			text-align: center;
		}
	}
	// .slide-reviews__text
	&__text {
		max-width: 310px;
		line-height: math.div(25, 18);
		@include adaptiveValue("font-size", 18, 16);
		@media (max-width: toEm(639.98)) {
			text-align: center;
		}
	}
	// .slide-reviews__icons
	&__icons {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	// .slide-reviews__icon
	&__icon {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		svg {
			position: absolute;
			width: 40px;
			height: 26px;
			fill: $lightYellowColor;
		}
	}
	// .slide-reviews__icon-01
	&__icon-01 {
		svg {
			top: 79px;
			left: 204px;
			@media (max-width: toEm(639.98)) {
				left: 24px;
				top: 32px;
			}
		}
	}
	// .slide-reviews__icon-02
	&__icon-02 {
		svg {
			width: 46px;
			height: 30px;
			bottom: 33px;
			right: 52px;
			@media (max-width: toEm(639.98)) {
				top: 100px;
				right: 24px;
				bottom: auto;
			}
		}
	}
}
// -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
.contact {
	@include adaptiveValue("padding-top", 100, 60);
	@include adaptiveValue("padding-bottom", 60, 30);
	// .contact__container
	&__container {
		display: grid;
	}
	// .contact__title
	&__title {
		max-width: 500px;
		justify-self: end;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	// .contact__text
	&__text {
		max-width: 405px;
		justify-self: end;
		text-align: justify;
		line-height: math.div(25, 18);
		@include adaptiveValue("font-size", 18, 16);
		@media (min-width:toEm($tablet)) {
			padding-left: 600px;
			max-width: 1000px;
		}
		@media (max-width:toEm($tablet)) {
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}
		p {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
	// .contact__form
	&__form {}
	// .contact__socials
	&__socials {}
}
.form-contact {
	z-index: 1;
	position: relative;
	display: grid;
	justify-items: center;
	border-radius: 45px;
	background: radial-gradient(98.33% 62.88% at 54.98% 52.66%,
			rgba(0, 0, 0, 0) 0%,
			#292929 100%), #000;
	padding: 32px;
	@media (min-width:toEm($tablet)) {
		margin-top: -75px;
		max-width: 575px;
	}
	@media (max-width:toEm($tablet)) {
		margin-right: 165px;
	}
	@media (max-width:toEm($mobile)) {
		margin: 0 -15px;
		border-radius: 0 45px 45px 0;
		@include adaptiveValue("margin-right", 165, 0, 0, $mobile, 320);
	}
	@media (max-width:toEm($mobile)) {
		padding: 16px;
	}
	>* {
		margin-bottom: 24px;
	}
	>*:last-child {
		margin-bottom: 0;
	}
	// .form-contact__title
	&__title {
		text-align: center;
		font-family: $fontDelaGothicOne;
		font-size: 30px;
		line-height: math.div(43, 30);
		text-align: center;
		color: $lightYellowColor;
		@include adaptiveValue("font-size", 30, 20);
	}
	// .form-contact__item
	&__item {
		max-width: 385px;
		width: 100%;
	}
	// .form-contact__label
	&__label {
		font-weight: 700;
		line-height: math.div(25, 18);
		color: $lightYellowColor;
		@include adaptiveValue("padding-left", 30, 20);
		@include adaptiveValue("font-size", 18, 16);
		@media (max-width:toEm($mobile)) {
			&:not(:last-child) {
				margin-bottom: 4px;
			}
		}
	}
	// .form-contact__input
	&__input {}
	// .form-contact__button
	&__button {}
}
.socials-contact {
	display: flex;
	justify-content: space-between;
	border-radius: 46px;
	background: $lightYellowColor;
	padding: 25px 32px 40px;
	margin-left: 93px;
	margin-top: -277px;
	@include adaptiveValue("gap", 20, 12);
	@media (min-width:toEm($tablet)) {
		max-width: 650px;
	}
	@media (max-width:toEm($mobile)) {
		margin: -277px -15px 0;
		border-radius: 45px 0 0 45px;
		@include adaptiveValue("margin-left", 93, 0, 0, $mobile, 320);
	}
	@media (max-width: toEm(639.98)) {
		flex-direction: column;
		margin-top: -150px;
		padding: 16px 16px 20px;
	}
	// .socials-contact__text
	&__text {
		padding-top: 270px;
		align-self: flex-end;
		max-width: 420px;
		font-family: $fontDelaGothicOne;
		line-height: math.div(29, 20);
		color: $darkColor;
		@include adaptiveValue("font-size", 20, 14);
		@media (max-width: toEm(639.98)) {
			max-width: none;
			padding-top: 150px;
		}
	}
	// .socials-contact__column
	&__column {
		display: grid;
		gap: 20px;
		@media (max-width:toEm(639.98)) {
			display: flex;
			align-items: center;
			justify-content: end;
		}
	}
	// .socials-contact__title
	&__title {
		flex: 1 1 auto;
		text-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.5);
		font-family: $fontDelaGothicOne;
		line-height: math.div(43, 30);
		text-align: start;
		color: $darkColor;
		@include adaptiveValue("font-size", 30, 20);
		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}
	// .socials-contact__item
	&__item {
		display: flex;
		justify-content: center;
	}
	// .socials-contact__link
	&__link {
		display: flex;
		svg {
			width: 48px;
			aspect-ratio: 1;
			transition: fill .4s;
			fill: $darkColor;
			stroke: $darkColor;
			@media (any-hover: hover) {
				&:hover {
					fill: $mainColor;
				}
			}
			@media (max-width:toEm($mobileSmall)) {
				width: 36px;
			}
		}
	}
}
// -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
.faq {
	position: relative;
	@include adaptiveValue("padding-top", 100, 60);
	@include adaptiveValue("padding-bottom", 90, 40);
	// .faq__container
	&__container {
		z-index: 1;
		position: relative;
		max-width: 742px;
	}
	// .faq__title
	&__title {
		font-family: $fontDelaGothicOne;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 30);
		}
	}
	// .faq__body
	&__body {
		display: grid;
		>* {
			margin-bottom: 22px;
		}
		>*:last-child {
			margin-bottom: 0px;
		}
	}
	// .faq__item
	&__item {
		background: $lightYellowColor;
		border-radius: 25px 0 25px 25px;
		justify-self: end;
		padding: 18px 24px;
		font-weight: 700;
		color: $darkColor;
		line-height: math.div(19, 14);
		text-align: center;
		@media (max-width:toEm($mobile)) {
			padding: 12px 16px;
			margin-left: 24px;
			text-align: right;
		}
		&:nth-child(even) {
			justify-self: start;
			background: transparent;
			border: 1px solid $lightYellowColor;
			border-radius: 25px 25px 25px 0;
			padding: 24px 36px;
			color: $lightYellowColor;
			text-align: start;
			text-align: justify;
			font-weight: 400;
			@media (max-width:toEm($mobile)) {
				padding: 16px 24px;
				margin-left: 0;
				margin-right: 24px;
			}
		}
		&--pl {
			@media (min-width:toEm($mobile)) {
				padding-inline: 70px;
			}
		}
		&--mw-470 {
			max-width: 470px;
		}
		&--mw-565 {
			max-width: 565px;
		}
	}
	// .faq__images
	&__images {}
	// .faq__image
	&__image {}
	// .faq__picture
	&__picture {
		position: absolute;
		object-fit: contain;
	}
	// .faq__picture-01
	&__picture-01 {
		width: 624px;
		height: 644px;
		right: -396px;
		top: 311px;
		animation: pulse 4s infinite 2s linear;
		@media (max-width:toEm($mobile)) {
			top: 150px;
		}
		@media (max-width:toEm($mobileSmall)) {
			right: -250px;
		}
	}
	// .faq__picture-02
	&__picture-02 {
		width: 575px;
		height: 561px;
		top: 365px;
		left: -280px;
		animation: pulse 4s infinite linear;
		@media (max-width:toEm($tablet)) {
			top: auto;
			bottom: 50px;
		}
		@media (max-width:toEm($mobileSmall)) {
			left: -200px;
		}
	}
}
@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: .3;
	}
	100% {
		opacity: 1;
	}
}