<div class="header__menu menu">
	<button type="button" data-fls-menu class="menu__icon icon-menu"><span></span></button>
	<nav class="menu__body">
		<ul class="menu__list">
			<each loop='item in [
					{"href": "#","ancor": "Главная"},
					{"href": "#","ancor": "О нас"},
					{"href": "#","ancor": "Галерея"},
					{"href": "#","ancor": "События"},
					{"href": "#","ancor": "Эксперты"},
					{"href": "#","ancor": "Шаги"},
					{"href": "#","ancor": "Контакт"},
					{"href": "#","ancor": "FAQ"}
				]'>
				<li class="menu__item">
					<a href="[[item.href]]" class="menu__link">[[item.ancor]]</a>
				</li>
			</each>
		</ul>
	</nav>
</div>

<!-- 
<fetch url="@components/layout/menu/menu.json">
	<each loop='item in response'>
	</each>
</fetch>
-->