<div class="header__menu menu">
	<button type="button" data-fls-menu class="menu__icon icon-menu"><span></span></button>
	<nav class="menu__body">
		<ul class="menu__list">
			<each loop='item in [
					{"scrollto": "#hero", "href": "index.html#hero","ancor": "Главная"},
					{"scrollto": "#about", "href": "index.html#about","ancor": "О нас"},
					{"scrollto": "#gallery", "href": "index.html#gallery","ancor": "Галерея"},
					{"scrollto": "#events", "href": "index.html#events","ancor": "События"},
					{"scrollto": "#experts", "href": "index.html#experts","ancor": "Эксперты"},
					{"scrollto": "#steps", "href": "index.html#steps","ancor": "Шаги"},
					{"scrollto": "#contact", "href": "index.html#contact","ancor": "Контакт"},
					{"scrollto": "#faq", "href": "index.html#faq","ancor": "FAQ"}
				]'>
				<if condition="'[[active]]' === 'home'">
					<li class="menu__item">
						<a data-fls-scrollto-header data-fls-scrollto="[[item.scrollto]]" class="menu__link">[[item.ancor]]</a>
					</li>
				</if>
				<else>
					<li class="menu__item">
						<a href="[[item.href]]" class="menu__link">[[item.ancor]]</a>
					</li>
				</else>
			</each>
		</ul>
	</nav>
</div>

<!-- 
<fetch url="@components/layout/menu/menu.json">
	<each loop='item in response'>
	</each>
</fetch>
-->